.header {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgba(0, 255, 0, 0.38);
    padding: 16px;

}
.ul {
    display: flex;
    margin-right: 80px;
}
li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.gate_button {
    width: 58px;
    height: 58px;
    background-color: rgb(255, 255, 0);
    font-size: 48px;
    transition: border-color 0.25s;
}

.gate_button:hover {
    opacity: 0.7;
}

@media (max-width: 1200px) {
    header {
        display: none;
    }
}